# Configuration file

balance {
    # The amount of souls to absorb from Mob Spawners. [range: 0 ~ 2147483647, default: 200]
    I:absorptionBonus=200

    # Adds a shapeless recipe that allows shards to be reset fresh. [default: true]
    B:addShardResetRecipe=true

    # Allows boss mobs to be spawned by cages. Some bosses (like the Ender Dragon) have custom logic which causes them to not work properly when spawned. [default: false]
    B:allowBossSpawns=false

    # Allows fake players to grow Shards in their inventories. [default: false]
    B:allowFakePlayers=false

    # Allows shards of the same entity to be combined in an anvil for a direct kill addition. [default: true]
    B:allowShardCombination=true

    # Allow shards to absorb Mob Spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # Mobs spawned via the cage should count toward shard kills. [default: false]
    B:countCageBornForShard=false

    # Mobs spawned via the cage will drop experience. [default: true]
    B:dropExperience=true

    # The maximum amount of cage born mobs that a cage can have in a 16 block radius before shutting off. [range: 0 ~ 256, default: 30]
    I:spawnCap=30
}


client {
    # Displays a durability bar for how full the shard is compared to the max tier available. [default: true]
    B:displayDurabilityBar=true

    # Displays a shard for every enabled entity in the creative tab. [default: false]
    B:explodeCreativeTab=false

    # Adds blacklisted entities to the creative tab if "explodeCreativeTab" is true. [default: false]
    B:ignoreBlacklistForTab=false
}


##########################################################################################################
# entity_list
#--------------------------------------------------------------------------------------------------------#
# Enabling boss mobs is not supported. If they work, great. If not, oh well.
##########################################################################################################

entity_list {
    # Allows the gathering and spawning of bwm_jungle_spider [default: true]
    B:"betterwithmods:bwm_jungle_spider"=true

    # Allows the gathering and spawning of entity_sheared_creeper [default: true]
    B:"betterwithmods:entity_sheared_creeper"=true

    # Allows the gathering and spawning of extraplanets.EvolvedAncientMagmaCube [default: true]
    B:"extraplanets:extraplanets.evolvedancientmagmacube"=true

    # Allows the gathering and spawning of extraplanets.EvolvedFireBatBoss [default: true]
    B:"extraplanets:extraplanets.evolvedfirebatboss"=true

    # Allows the gathering and spawning of extraplanets.EvolvedGhastBoss [default: true]
    B:"extraplanets:extraplanets.evolvedghastboss"=true

    # Allows the gathering and spawning of extraplanets.EvolvedGiantZombieBoss [default: true]
    B:"extraplanets:extraplanets.evolvedgiantzombieboss"=true

    # Allows the gathering and spawning of extraplanets.EvolvedIceSlimeBoss [default: true]
    B:"extraplanets:extraplanets.evolvediceslimeboss"=true

    # Allows the gathering and spawning of extraplanets.EvolvedMagmaCube [default: true]
    B:"extraplanets:extraplanets.evolvedmagmacube"=true

    # Allows the gathering and spawning of extraplanets.EvolvedMagmaCubeBoss [default: true]
    B:"extraplanets:extraplanets.evolvedmagmacubeboss"=true

    # Allows the gathering and spawning of extraplanets.EvolvedSnowmanBoss [default: true]
    B:"extraplanets:extraplanets.evolvedsnowmanboss"=true

    # Allows the gathering and spawning of extraplanets.EvolvedSpaceManBoss [default: true]
    B:"extraplanets:extraplanets.evolvedspacemanboss"=true

    # Allows the gathering and spawning of butterflyGE [default: true]
    B:"forestry:butterflyge"=true

    # Allows the gathering and spawning of alien_villager [default: true]
    B:"galacticraftcore:alien_villager"=true

    # Allows the gathering and spawning of evolved_creeper [default: true]
    B:"galacticraftcore:evolved_creeper"=true

    # Allows the gathering and spawning of evolved_enderman [default: true]
    B:"galacticraftcore:evolved_enderman"=true

    # Allows the gathering and spawning of evolved_skeleton [default: true]
    B:"galacticraftcore:evolved_skeleton"=true

    # Allows the gathering and spawning of evolved_skeleton_boss [default: true]
    B:"galacticraftcore:evolved_skeleton_boss"=true

    # Allows the gathering and spawning of evolved_spider [default: true]
    B:"galacticraftcore:evolved_spider"=true

    # Allows the gathering and spawning of evolved_witch [default: true]
    B:"galacticraftcore:evolved_witch"=true

    # Allows the gathering and spawning of evolved_zombie [default: true]
    B:"galacticraftcore:evolved_zombie"=true

    # Allows the gathering and spawning of creeper_boss [default: true]
    B:"galacticraftplanets:creeper_boss"=true

    # Allows the gathering and spawning of juicer [default: true]
    B:"galacticraftplanets:juicer"=true

    # Allows the gathering and spawning of slimeling [default: true]
    B:"galacticraftplanets:slimeling"=true

    # Allows the gathering and spawning of sludgeling [default: true]
    B:"galacticraftplanets:sludgeling"=true

    # Allows the gathering and spawning of spider_queen [default: true]
    B:"galacticraftplanets:spider_queen"=true

    # Allows the gathering and spawning of player_ghost [default: true]
    B:"gravestone:player_ghost"=true

    # Allows the gathering and spawning of italian_buffalo [default: true]
    B:"gregtechfoodoption:italian_buffalo"=true

    # Allows the gathering and spawning of Snowman [default: true]
    B:"gregtechfoodoption:strong_snowman"=true

    # Allows the gathering and spawning of ArmorStand [default: false]
    B:"minecraft:armor_stand"=false

    # Allows the gathering and spawning of Bat [default: true]
    B:"minecraft:bat"=true

    # Allows the gathering and spawning of Blaze [default: true]
    B:"minecraft:blaze"=true

    # Allows the gathering and spawning of CaveSpider [default: true]
    B:"minecraft:cave_spider"=true

    # Allows the gathering and spawning of Chicken [default: true]
    B:"minecraft:chicken"=true

    # Allows the gathering and spawning of Cow [default: true]
    B:"minecraft:cow"=true

    # Allows the gathering and spawning of Creeper [default: true]
    B:"minecraft:creeper"=true

    # Allows the gathering and spawning of Donkey [default: true]
    B:"minecraft:donkey"=true

    # Allows the gathering and spawning of ElderGuardian [default: false]
    B:"minecraft:elder_guardian"=false

    # Allows the gathering and spawning of EnderDragon [default: false]
    B:"minecraft:ender_dragon"=false

    # Allows the gathering and spawning of Enderman [default: true]
    B:"minecraft:enderman"=true

    # Allows the gathering and spawning of Endermite [default: true]
    B:"minecraft:endermite"=true

    # Allows the gathering and spawning of EvocationIllager [default: true]
    B:"minecraft:evocation_illager"=true

    # Allows the gathering and spawning of Ghast [default: true]
    B:"minecraft:ghast"=true

    # Allows the gathering and spawning of Giant [default: true]
    B:"minecraft:giant"=true

    # Allows the gathering and spawning of Guardian [default: true]
    B:"minecraft:guardian"=true

    # Allows the gathering and spawning of Horse [default: true]
    B:"minecraft:horse"=true

    # Allows the gathering and spawning of Husk [default: true]
    B:"minecraft:husk"=true

    # Allows the gathering and spawning of IllusionIllager [default: true]
    B:"minecraft:illusion_illager"=true

    # Allows the gathering and spawning of Llama [default: true]
    B:"minecraft:llama"=true

    # Allows the gathering and spawning of LavaSlime [default: true]
    B:"minecraft:magma_cube"=true

    # Allows the gathering and spawning of MushroomCow [default: true]
    B:"minecraft:mooshroom"=true

    # Allows the gathering and spawning of Mule [default: true]
    B:"minecraft:mule"=true

    # Allows the gathering and spawning of Ozelot [default: true]
    B:"minecraft:ocelot"=true

    # Allows the gathering and spawning of Parrot [default: true]
    B:"minecraft:parrot"=true

    # Allows the gathering and spawning of Pig [default: true]
    B:"minecraft:pig"=true

    # Allows the gathering and spawning of PolarBear [default: true]
    B:"minecraft:polar_bear"=true

    # Allows the gathering and spawning of Rabbit [default: true]
    B:"minecraft:rabbit"=true

    # Allows the gathering and spawning of Sheep [default: true]
    B:"minecraft:sheep"=true

    # Allows the gathering and spawning of Shulker [default: true]
    B:"minecraft:shulker"=true

    # Allows the gathering and spawning of Silverfish [default: true]
    B:"minecraft:silverfish"=true

    # Allows the gathering and spawning of Skeleton [default: true]
    B:"minecraft:skeleton"=true

    # Allows the gathering and spawning of SkeletonHorse [default: true]
    B:"minecraft:skeleton_horse"=true

    # Allows the gathering and spawning of Slime [default: true]
    B:"minecraft:slime"=true

    # Allows the gathering and spawning of SnowMan [default: true]
    B:"minecraft:snowman"=true

    # Allows the gathering and spawning of Spider [default: true]
    B:"minecraft:spider"=true

    # Allows the gathering and spawning of Squid [default: true]
    B:"minecraft:squid"=true

    # Allows the gathering and spawning of Stray [default: true]
    B:"minecraft:stray"=true

    # Allows the gathering and spawning of Vex [default: true]
    B:"minecraft:vex"=true

    # Allows the gathering and spawning of Villager [default: true]
    B:"minecraft:villager"=true

    # Allows the gathering and spawning of VillagerGolem [default: true]
    B:"minecraft:villager_golem"=true

    # Allows the gathering and spawning of VindicationIllager [default: true]
    B:"minecraft:vindication_illager"=true

    # Allows the gathering and spawning of Witch [default: true]
    B:"minecraft:witch"=true

    # Allows the gathering and spawning of WitherBoss [default: false]
    B:"minecraft:wither"=false

    # Allows the gathering and spawning of WitherSkeleton [default: true]
    B:"minecraft:wither_skeleton"=true

    # Allows the gathering and spawning of Wolf [default: true]
    B:"minecraft:wolf"=true

    # Allows the gathering and spawning of Zombie [default: true]
    B:"minecraft:zombie"=true

    # Allows the gathering and spawning of ZombieHorse [default: true]
    B:"minecraft:zombie_horse"=true

    # Allows the gathering and spawning of PigZombie [default: true]
    B:"minecraft:zombie_pigman"=true

    # Allows the gathering and spawning of ZombieVillager [default: true]
    B:"minecraft:zombie_villager"=true

    # Allows the gathering and spawning of multimob.dummy [default: true]
    B:"multimob:dummy"=true

    # Allows the gathering and spawning of netherex:brute [default: true]
    B:"netherex:brute"=true

    # Allows the gathering and spawning of netherex:coolmar_spider [default: true]
    B:"netherex:coolmar_spider"=true

    # Allows the gathering and spawning of netherex:ember [default: true]
    B:"netherex:ember"=true

    # Allows the gathering and spawning of netherex:frost [default: true]
    B:"netherex:frost"=true

    # Allows the gathering and spawning of netherex:ghast_queen [default: true]
    B:"netherex:ghast_queen"=true

    # Allows the gathering and spawning of netherex:ghastling [default: true]
    B:"netherex:ghastling"=true

    # Allows the gathering and spawning of netherex:gold_golem [default: true]
    B:"netherex:gold_golem"=true

    # Allows the gathering and spawning of netherex:mogus [default: true]
    B:"netherex:mogus"=true

    # Allows the gathering and spawning of netherex:nethermite [default: true]
    B:"netherex:nethermite"=true

    # Allows the gathering and spawning of netherex:pigtificate [default: true]
    B:"netherex:pigtificate"=true

    # Allows the gathering and spawning of netherex:pigtificate_leader [default: true]
    B:"netherex:pigtificate_leader"=true

    # Allows the gathering and spawning of netherex:salamander [default: true]
    B:"netherex:salamander"=true

    # Allows the gathering and spawning of netherex:spinout [default: true]
    B:"netherex:spinout"=true

    # Allows the gathering and spawning of netherex:spore [default: true]
    B:"netherex:spore"=true

    # Allows the gathering and spawning of netherex:spore_creeper [default: true]
    B:"netherex:spore_creeper"=true

    # Allows the gathering and spawning of netherex:wight [default: true]
    B:"netherex:wight"=true
    B:"netherhexedkingdommod:nether_damned_guard"=true

    # Allows the gathering and spawning of primal:bear_black [default: true]
    B:"primal:bear_black"=true

    # Allows the gathering and spawning of primal:bear_brown [default: true]
    B:"primal:bear_brown"=true

    # Allows the gathering and spawning of primal:canis_campestris [default: true]
    B:"primal:canis_campestris"=true

    # Allows the gathering and spawning of primal:creeper_nether [default: true]
    B:"primal:creeper_nether"=true

    # Allows the gathering and spawning of primal:gator [default: true]
    B:"primal:gator"=true

    # Allows the gathering and spawning of primal:ovis_atre [default: true]
    B:"primal:ovis_atre"=true

    # Allows the gathering and spawning of primal:shark_hammerhead [default: true]
    B:"primal:shark_hammerhead"=true

    # Allows the gathering and spawning of primitivemobs.baby_spider [default: true]
    B:"primitivemobs:baby_spider"=true

    # Allows the gathering and spawning of primitivemobs.bewitched_tome [default: true]
    B:"primitivemobs:bewitched_tome"=true

    # Allows the gathering and spawning of primitivemobs.blazing_juggernaut [default: true]
    B:"primitivemobs:blazing_juggernaut"=true

    # Allows the gathering and spawning of primitivemobs.brain_slime [default: true]
    B:"primitivemobs:brain_slime"=true

    # Allows the gathering and spawning of primitivemobs.chameleon [default: true]
    B:"primitivemobs:chameleon"=true

    # Allows the gathering and spawning of primitivemobs.dodo [default: true]
    B:"primitivemobs:dodo"=true

    # Allows the gathering and spawning of primitivemobs.festive_creeper [default: true]
    B:"primitivemobs:festive_creeper"=true

    # Allows the gathering and spawning of primitivemobs.filch_lizard [default: true]
    B:"primitivemobs:filch_lizard"=true

    # Allows the gathering and spawning of primitivemobs.flame_spewer [default: true]
    B:"primitivemobs:flame_spewer"=true

    # Allows the gathering and spawning of primitivemobs.goblin [default: true]
    B:"primitivemobs:goblin"=true

    # Allows the gathering and spawning of primitivemobs.grovesprite [default: true]
    B:"primitivemobs:grovesprite"=true

    # Allows the gathering and spawning of primitivemobs.harpy [default: true]
    B:"primitivemobs:harpy"=true

    # Allows the gathering and spawning of primitivemobs.haunted_tool [default: true]
    B:"primitivemobs:haunted_tool"=true

    # Allows the gathering and spawning of primitivemobs.lily_lurker [default: true]
    B:"primitivemobs:lily_lurker"=true

    # Allows the gathering and spawning of primitivemobs.lost_miner [default: true]
    B:"primitivemobs:lost_miner"=true

    # Allows the gathering and spawning of primitivemobs.mimic [default: true]
    B:"primitivemobs:mimic"=true

    # Allows the gathering and spawning of primitivemobs.mother_spider [default: true]
    B:"primitivemobs:mother_spider"=true

    # Allows the gathering and spawning of primitivemobs.rocket_creeper [default: true]
    B:"primitivemobs:rocket_creeper"=true

    # Allows the gathering and spawning of primitivemobs.sheepman [default: true]
    B:"primitivemobs:sheepman"=true

    # Allows the gathering and spawning of primitivemobs.skeleton_warrior [default: true]
    B:"primitivemobs:skeleton_warrior"=true

    # Allows the gathering and spawning of primitivemobs.support_creeper [default: true]
    B:"primitivemobs:support_creeper"=true

    # Allows the gathering and spawning of primitivemobs.traveling_merchant [default: true]
    B:"primitivemobs:traveling_merchant"=true

    # Allows the gathering and spawning of primitivemobs.treasure_slime [default: true]
    B:"primitivemobs:treasure_slime"=true

    # Allows the gathering and spawning of primitivemobs.trollager [default: true]
    B:"primitivemobs:trollager"=true

    # Allows the gathering and spawning of primitivemobs.void_eye [default: true]
    B:"primitivemobs:void_eye"=true

    # Allows the gathering and spawning of tconstruct.blueslime [default: true]
    B:"tconstruct:blueslime"=true

    # Allows the gathering and spawning of Dummy [default: true]
    B:"testdummy:dummy"=false

    # Allows the gathering and spawning of totemic:bald_eagle [default: true]
    B:"totemic:bald_eagle"=true

    # Allows the gathering and spawning of totemic:baykok [default: true]
    B:"totemic:baykok"=false

    # Allows the gathering and spawning of totemic:buffalo [default: true]
    B:"totemic:buffalo"=true
}


server {
    # Requires the shard owner to be online. The owner is the first person to obtain a kill with the shard. [default: false]
    B:requireOwnerOnline=false

    # Requires a redstone signal to activate cages regardless of tier. [default: false]
    B:requireRedstoneSignal=false
}


